# This is Git's per-user configuration file.
[user]
	name = Joaquin Alori
	email = joaquin.alori@gmail.com
[push]
	default = simple

[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[diff]
	tool = vimdiff
